{%extends "index.html"%} {%load static%} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
{% endblock %} {% block 'dashboard' %}
<!-- Corpo do dashboard -->
<div class="container">
  <!-- Botões inicais -->
  <div class="row">
    <div class="col-md card-dashboard" onclick="show_form('1')">
      <p class="text-card">Adicionar clientes</p>
    </div>
    <div class="col-md card-dashboard" onclick="show_form('2')">
      <p class="text-card">Atualizar clientes</p>
    </div>
  </div>
  <!-- Tela de adicionar cliente -->
  <div id="adicionar-cliente" class="adicionar-cliente">
    <form action="{% url 'clientes' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md">
          <p>Nome:</p>
          <input
            type="text"
            class="form-control"
            placeholder="Primeiro nome"
            name="nome"
            value="{{nome}}"
          />
        </div>
        <div class="col-md">
          <p>Sobrenome:</p>
          <input
            type="text"
            class="form-control"
            placeholder="Sobrenome"
            name="sobrenome"
            value="{{sobrenome}}"
          />
        </div>
      </div>
      <br />
      <p>E-mail:</p>
      <input
        type="email"
        class="form-control"
        placeholder="nome@email.com"
        name="email"
        value="{{email}}"
      />
      <br />
      <p>CPF:</p>
      <input
        type="text"
        class="form-control"
        placeholder="___.___.___-__"
        name="cpf"
        value="{{cpf}}"
      />
      <hr style="background-color: gray" />
      <div class="add-carros">
        <h3 class="text-adjust">Carros</h3>
        <span class="btn-add-carros" onclick="add_carro()"
          >+ Adicionar um carro</span
        >
        <div id="form-carro" class="container">
          {% for carro, placa, ano in carros%}
          <br />
          <div class="row">
            <div class="col-md">
              <input
                type="text"
                placeholder="carro"
                class="form-control"
                name="carro"
                value="{{carro}}"
              />
            </div>

            <div class="col-md">
              <input
                type="text"
                placeholder="Placa"
                class="form-control"
                name="placa"
                value="{{placa}}"
              />
            </div>

            <div class="col-md">
              <input
                type="number"
                placeholder="ano"
                class="form-control"
                name="ano"
                value="{{ano}}"
              />
            </div>
          </div>
          {% endfor%}
        </div>
      </div>

      <br />
      <input type="submit" value="Cadastrar" class="btn-principal" />
    </form>
  </div>
  <!-- Tela de atualizar cliente -->
  <div id="att_cliente">
    <p></p>
    <select id="client-select" onchange="data_client()" class="form-control">
      <!-- TODO ajustar essa BAGAÇA -->
      <!-- adicionando dinamicamente os clientes do banco de dados -->
      <option>Escolha um cliente</option>
      {%for cliente in clientes%}
      <option value="{{cliente.id}}">
        {{cliente.nome}} {{cliente.sobrenome}}
      </option>
      {%endfor%}
    </select>
    <br />
    <hr />
    <div id="form-att-client">
      <input type="hidden" id="id" />
      <p>Nome:</p>
      <input id="nome" type="text" class="form-control" />
      <p>Sobrenome:</p>
      <input id="sobrenome" type="text" class="form-control" />
      <p>E-mail:</p>
      <input id="email" type="text" class="form-control" />
      <p>CPF:</p>
      <input id="cpf" type="text" class="form-control" />
      <br />
      <div class="p-3 d-flex justify-content-between">
        <input
          onclick="update_client()"
          type="submit"
          value="salvar"
          class="btn btn-success h-25"
        />
        <button class="btn btn-info h-25" onclick="add_new_car()">
          Adicionar Carro
        </button>
        <button class="btn btn-warning h-25" onclick="hideMessage()">
          Excluir cliente
        </button>
      </div>

      <br />
      <form
        id="add_ncar"
        class="text-center"
        action="{% url 'novo_carro' %}"
        method="POST"
      >
        {% csrf_token %}
      </form>
      <hr style="background-color: gray" />
      <h2>Carros</h2>
      <!-- TODO botão para adicionar carro -->

      <div id="carros" class="form-carro"></div>
    </div>
  </div>
  <script src="{% static 'clientes/js/clientes.js' %}"></script>
</div>
<!-- <div id="></div> -->
<div id="message" class="hidden message position-absolute w-50 container-fluid">
  <div>
    <button class="btn btn-danger cancel" onclick="cancel()" type="button">
      X
    </button>
    <h4 style="margin-right: 20px">Você deseja excluir o cliente:</h4>
  </div>
  <div class="d-flex flex-column">
    <input class="inputExlude" id="exludeName" name="nome" value="" disabled />
    <h4>Portador do CPF:</h4>
    <input class="inputExlude" id="excludeCPF" name="cpf" value="" disabled />
    <input id="excludeSobrenome" value="" />
    <input id="excludeEmail" value="" />
    <input id="excludeId" value="" />
    <input
      id="exludeBtn"
      class="btn btn-warning"
      type="submit"
      value="SIM"
      onclick="exlude_cliente(), cancel()"
    />
  </div>
</div>
{% endblock %}
