.card-dashboard {
  background-color: var(--main-color);
  width: 50%;
  margin-left: 10px;
  margin-top: 40px;
  text-align: center;
  padding: 20px;
  cursor: pointer;
  border-radius: 10px;
  user-select: none;
}

.card-dashboard:hover {
  color: #13131a;
}

.text-card {
  font-size: 25px;
  margin-top: 10px;
}

.btn-add-carros {
  background-color: var(--contrast-color);
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-principal {
  color: white;
  border: none;
  background-color: var(--dark-color);
  padding: 5px;
  font-size: 30px;
}

#att_cliente {
  display: none;
}

#form-att-client {
  display: none;
}

#form-att-client input {
  margin-bottom: 10px;
}

#adicionar-cliente {
  margin-top: 20px;
  user-select: none;
}

.text-adjust {
  margin-bottom: 20px;
}

.blur {
  filter: blur(5px);
}
.cancel {
  position: absolute;
  right: 10px;
}

.hidden {
  display: none;
}

#excludeSobrenome,
#excludeEmail,
#excludeId {
  display: none;
}

.message {
  background: rgba(80, 62, 62, 1);
  position: absolute;
  top: 20%;
  left: 30%;
  right: 50%;
  z-index: 100;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.inputExlude {
  background: transparent;
  color: #fff;
  border: none;
  text-align: center;
  margin: 10px;
}

@media (max-width: 580px) {
  .message {
    left: 20%;
  }
}

@media (max-width: 480px) {
  .message {
    left: 15%;
  }
}

@media (max-width: 380px) {
  .message {
    left: 10%;
  }
}

@media (max-width: 280px) {
  .message {
    left: 5%;
  }
}
