{% extends "index.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
{% endblock %} {% block 'dashboard' %} {%csrf_token%}
<br />
<br />
<div class="container-fluid distanciamento">
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Identificador</th>
        <th scope="col">Título</th>
        <th scope="col">Cliente</th>
        <th scope="col">Data</th>
        <th scope="col">Status</th>
        <th scope="col">Valor</th>
      </tr>
    </thead>
    <tbody>
      {% for servico in services %}
      <tr>
        <td>
          <a href="{% url 'servico' servico.identificador%}"
            >{{servico.identificador}}</a
          >
        </td>
        <td>{{servico.titulo}}</td>
        <td>{{servico.cliente}}</td>
        <td>{{servico.data_inicio}}</td>
        <td class="d-flex justify-content-center">
          {% if servico.finalizado %}
          <div id="finalizado" class="mx-auto"></div>
          {% else %}
          <div id="manutencao"></div>
          {% endif %}
        </td>
        <td>R$ {{servico.total_price}}</td>
        <td>
          <button
            class="btn btn-danger btnService"
            onclick="excludeService(this)"
          >
            EXCLUIR
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{%endblock%}
