{% extends "index.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
{% endblock %} {% block 'dashboard' %}
<div class="container">
  <br />
  <!-- Trazendo o form de form.py -->
  <form action="{%url 'novo_servico'%}" method="POST">
    {%csrf_token%}
    <input type="text" placeholder="Titulo" class="form-control" />
    <br />
    <br />
    <select name="cliente" class="form-control" id="Cliente-Service">
      <option>Trocar cliente</option>
      <!-- criando a lista de clientes pelos dados json trazidos da view -->
      {%for cliente in clientes%}
      <option value="{{cliente.id}}" name="cliente">
        {{cliente.nome}} {{cliente.sobrenome}}
      </option>
      {%endfor%}
    </select>
    <br />
    <br />
    <div id="car-service"></div>
    <br />
    <!-- criando as opções de manutenção trazidos pelo json da view -->
    {% for id, title in categorias%}
    <div class="d-flex container align-items-center">
      <input
        type="checkbox"
        value="{{id}}"
        style="width: 30px; height: 30px; margin-right: 10px"
      />
      <label>{{title}}</label>
    </div>
    <br />
    {%endfor%}
    <div class="container d-flex flex-column align-items-center">
      <label>Data de inicio</label>
      <input type="date" />
      <label>Data de entrega</label>
      <input type="date" style="margin-bottom: 10px" />

      <input
        type="submit"
        style="margin-top: 10px"
        class="btn btn-success w-50"
        value="Salvar"
      />
    </div>
  </form>
</div>
{% endblock %}

<script src="{% static 'services/js/service.js' %}"></script>
