{% extends "index.html" %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'clientes/css/clientes.css' %}" />
{% endblock %} {% block 'dashboard' %}
<div class="container">
  <br />
  <br />
  <br />
  <!-- Trazendo o form de form.py -->
  <form action="{%url 'novo_servico'%}" method="POST">
    {%csrf_token%}
    <input type="text" placeholder="Titulo" class="form-control" />
    <br />
    <br />
    <select name="cliente" class="form-control" id="Cliente-Service">
      <option>Escolha um cliente</option>
      {%for cliente in clientes%}
      <option value="{{cliente.id}}" name="carro">
        {{cliente.nome}} {{cliente.sobrenome}}
      </option>
      {%endfor%}
    </select>
    <br />
    <br />
    <div id="car-service"></div>
    <br />
    <br />
    {% for id, title in categorias%}
    <input type="checkbox" value="{{id}}" />
    <label>{{title}}</label>
    {%endfor%}
    <input type="date" />
    <input type="date" name="" id="" />

    <input
      type="submit"
      style="margin-top: 10px"
      class="btn btn-success"
      value="Salvar"
    />
  </form>
</div>
{% endblock %}

<script src="{% static 'services/js/service.js' %}"></script>
